* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato;
}

header {
    height: 75px;
    background: #222222;
}

nav {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
}

.nav__left-side {
    width: 111px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.nav__right-side {
    width: 168px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.brand {
    background: #F1E4E6;
}

.brand__container {
    max-width: 1140px;
    margin: 0 auto;
    background: #F1E4E6;
    height: 764px;
    background-image: url(img/mainMan.png);
    background-repeat: no-repeat;
    background-position: -225px;
}

.brand__box {
    display: flex;
    width: 405px;
    height: 93px;
    padding-top: 290px;
    padding-left: 635px;
}

.brand__line {
    margin-right: 16px;
}

.brand__h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.brand__h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.fashion {
    color: #F16D7F;
}

.offer {
    max-width: 1140px;
    height: 470px;
    margin: 0 auto;
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer__link-1 {
    display: block;
    width: 360px;
    height: 260px;
    background-blend-mode: multiply;
    background-image: url(img/for-women.png);
    background-color: rgba(33, 22, 22, 0.7);
    text-decoration: none;
}

.offer__link-1:hover {
    opacity: 0.9;
}

.offer__link-2 {
    display: block;
    width: 360px;
    height: 260px;
    background-blend-mode: multiply;
    background-image: url(img/for-men.png);
    background-color: rgba(33, 22, 22, 0.7);
    text-decoration: none;
}

.offer__link-2:hover {
    opacity: 0.9;
}

.offer__link-3 {
    display: block;
    width: 360px;
    height: 260px;
    background-blend-mode: multiply;
    background-image: url(img/for-kids.png);
    background-color: rgba(33, 22, 22, 0.7);
    text-decoration: none;
}

.offer__link-3:hover {
    opacity: 0.9;
}

.offer__link-long {
    display: block;
    width: 1140px;
    height: 180px;
    background-blend-mode: multiply;
    background-image: url(img/accesories.png);
    background-color: rgba(33, 22, 22, 0.7);
    margin-top: 30px;
    text-decoration: none;
}

.offer__link-long:hover {
    opacity: 0.9;
}

.offer__text {
    margin-top: 105px;
}

.offer__text-long {
    margin-top: 65px;
}

.offer__h4 {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.offer__h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.featured {
    max-width: 1140px;
    margin: 0 auto;
    height: 1395px;
    margin-top: 96px;
}

.featured__h2 {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
}

.featured__h4 {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 48px;
}

.featured-grid {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 581px 581px;
    grid-gap: 30px;
    margin-bottom: 48px;
}

section {
    background: #F8F8F8;
    position: relative;
}

.section_link {
    display: block;
    width: 360px;
    height: 581px;
    text-decoration: none;
}

.section_link:hover .cart-hover {
    display: flex;
}

.cart-article {
    height: 44px;
    width: 139px;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 188px;
    right: 111px;
}

.imgWrap {
    position: relative;
}

.cart-hover {
    width: 100%;
    height: 420px;
    position: absolute;
    background: rgba(58, 56, 56, 0.86);
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    display: none;
}

.cart-hover_p {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.cart-hover_img {
    width: 26px;
    height: 24px;
}

.section_text {
    padding: 25px 28px 20px 16px;
}

.section_h4 {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.section_p {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 12px;
    margin-bottom: 18px;
}

.section_price {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.section_link-btn {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 15px 39px;
    border: 1px solid #FF6A6A;
    text-decoration: none;
    margin-left: 464px;
}

.section_link-btn:hover {
    background: #F16D7F;
    color: #FFFFFF;
}

.services {
    height: 341px;
    background: #222224;
    margin-top: 95px;
}

.services__container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.services__h2 {
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    padding-bottom: 16px;
}

.services__p {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    padding-right: 22px;
    padding-left: 22px;
}

.services__img-1 {
    padding-bottom: 28px;
}

.services__img-2 {
    padding-bottom: 19px;
}

.services__img-3 {
    padding-bottom: 25px;
}

.services__section {
    height: 134px;
    width: 360px;
    text-align: center;
    margin-top: 103px;
}

.subscribe {
    background-image: url(img/subscribeBG.jpg);
    background-repeat: no-repeat;
}

.subscribe__container {
    max-width: 1140px;
    margin: 0 auto;
    height: 448px;
    display: flex;
    justify-content: space-between;
}

.subscribe__review {
    width: 360px;
    height: 225px;
    text-align: center;
    margin-top: 97px;
}

.subscribe__form {
    width: 557px;
    height: 142px;
    text-align: center;
    margin-top: 150px;
}

.subscribe__p {
    margin-top: 30px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe__span {
    font-style: italic;
}

.subscribe__h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.form_p {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
}

.input_text {
    background: #E1E1E1;
    width: 234px;
    height: 49px;
    border-radius: 19px 0 0 19px;
    padding-left: 22px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    border: none;
    margin-top: 32px;
}

.button_subscribe {
    background: #F16D7F;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100px;
    height: 49px;
    margin-left: -5px;
    border-radius: 0px 25px 25px 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-right: 5px;
}

.button_subscribe:hover {
    border: none;
    box-shadow: none;
}

footer {
    height: 79px;
    background: #222224;
}

.footer__container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__right-side {
    display: flex;
    justify-content: space-between;
    height: 32px;
    width: 148px;
    margin-top: 24px;
}

.footer__left-side {
    width: 332px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin-top: 30px;
}

.footer__link-1 {
    background-image: url(img/facebook.png);
    width: 32px;
}

.footer__link-2 {
    background-image: url(img/insta.png);
    width: 32px;
}

.footer__link-2:hover {
    background-image: url(img/insta_pink.png);
}

.footer__link-3 {
    background-image: url(img/pinterest.png);
    width: 32px;
}

.footer__link-4 {
    background-image: url(img/twitter.png);
    width: 32px;
}
